<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h1>Necesidades</h1>
            </div>

            <div class="offset-2 col-2">
                <a class="btn btn-outline-secondary btn-block btn-sm" role="button" href="~/Home" title="Regresa a pantalla anterior"><i class="far fa-arrow-alt-to-left"></i> Volver</a>
            </div>
        </div>
<p>Materiales o herramientas sin stock o por debajo del punto de reposición</p>
</div>
</div>
<br />
<div class="card shadow">
    <div id="divgrdCompras" class="card-body">        
    </div>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/Compras/Necesidades.js"></script>


