<div class="container-fluid">
    <h1 class="display-4">Necesidades</h1>
    <p>Materiales o herramientas sin stock o por debajo del punto de reposición</p>
    <br />
    <div class="card">
        <div class="card-body">
            <table id="grdCompras" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Material
                        </th>

                        <th>
                            Stock Actual
                        </th>
                        <th>
                            Stock Mínimo
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Proveedor
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    var fecha = new Date();
    var timestamp = fecha.getDate() + "-" + fecha.getMonth() + "-" + fecha.getFullYear() + " " + fecha.getHours() + "." + fecha.getMinutes();
    var appName = location.pathname.split('/')[1];
    var baseURL = window.location.protocol + "//" + window.location.host + "/";

    if (appName == 'ottest')
        baseURL = baseURL + appName + "/";

    //console.log(appName);
    $(document).ready(function () {
        var request = $.ajax({
            url: baseURL + "Compras/GetCompras",
            type: 'GET',
            contentType: 'application/json; charset=utf-8'
        });

        request.done(function (data) {
            //console.log(data.Response);
            $('#grdCompras').DataTable({
                "dom": 'Bflrtip',
                "autoWidth": false,
                "aaData": data.Response,
                "aoColumnDefs": [{
                    "aTargets": [4]
                }],
                "aoColumns": [{
                    "data": "codigo"
                },
                {
                    "data": "nombre"
                },
                {
                    "data": "stockActual"
                },
                {
                    "data": "stockMinimo"
                },
                {
                    "mRender": function (dato, type, row) {
                        if (row.stockActual == 0) {
                            return 'SIN STOCK';
                        }
                        if (row.stockActual > row.stockMinimo) {
                            return 'ALTO';
                        }
                        else {
                            return 'BAJO';
                        }
                    }
                },
                {
                    "data": "proveedor"
                }],
                "buttons": [
                    {
                        extend: 'pdf',
                        text: 'Exportar a PDF',
                        filename: 'listadoCompras-' + timestamp
                    },
                    {
                        extend: 'excel',
                        text: 'Exportar a Excel',
                        filename: 'listadoCompras-' + timestamp
                    }
                ],
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información disponible para mostrar",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "No hay compras para mostrar",
                    "infoFiltered": "(filtrados de _MAX_ compras totales)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Cargando...",
                    "processing": "En proceso...",
                    "search": "Buscar",
                    "zeroRecords": "No hay compras que coincidan con el filtro",
                    "paginate": {
                        "first": "Primera",
                        "last": "Última",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });

        request.fail(function (data) {
            alert(data.Response);
        });
    });
</script>


