body h1 {
    font-family: 'Raleway', sans-serif; 
    font-size: 40px;
}

body p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

body label {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

body td,th {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.logoet {
    top: 3% !important;
    right: 35% !important;
    opacity: 0.6;
}

#Username {
    border-radius: 15px !important;
}

#Password {
    border-radius: 15px !important;
}

#btnLogin {
    border-radius: 15px !important;
}

.imggif {
    width: 100%;
}