@{
    ViewBag.Title = "Material";
}
<br />
<br />
<div class="container-fluid">
    <h2>Gestión de Materiales</h2>
    <h6>Materiales o herramientas utilizadas para taller o reparaciones edilicias.</h6>
</div>
<hr />
<div class="col-2">
    <a id="btn_agregarmaterial" class="btn btn-outline-primary btn-block" href="~/Material/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Agrega materiales o herramientas utilizadas para taller o reparaciones edilicias"><i class="fas fa-wrench"></i> Nuevo Material</a>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table id="grdMateriales" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Código
                    </th>
                    <th>
                        Material
                    </th>
                    <th>
                        Stock Actual
                    </th>
                    <th>
                        Stock Mínimo
                    </th>
                    <th>
                        Stock
                    </th>
                    <th></th>
                    <th>
                        Opciones
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript" src="~/Scripts/Views/Material.js"></script>
    </div>
</div>
