@{
    ViewBag.Title = "Material";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <div class="starter-template">
            <h1>Gestión de Materiales</h1>
            <hr />
            <p class="lead">Seleccione la operación a realizar</p>
        </div>
    </div>
    <div class="container">
        <div id="seleccion">
            <a class="btn btn-primary" href="~/Material/Sumar" role="button">Sumar Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/Material/Restar" role="button">Restar Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/Material/Alta" role="button">Alta Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/Material/Buscar" role="button">Buscar Material</a>
            <br>
            <br>
        </div>
    </div>
</div>