@{
    ViewBag.Title = "Material";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <div class="starter-template">
            <h1>Gestión de Materiales</h1>
            <hr />
            <p class="lead">Seleccione la operación a realizar</p>
        </div>
    </div>
    <div class="container">
        <div id="seleccion">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" href="~/Material/Alta" role="button">Nuevo Material</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" href="~/Material/Buscar" role="button">Buscar</a>
            </div>
        </div>
    </div>
</div>