@{
    ViewBag.Title = "Personal";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <div class="starter-template">
            <h1>Gestión de Materiales</h1>
            <hr />
            <p class="lead">Seleccione la operación a realizar</p>
        </div>
    </div>
    <div class="container">
        <div id="seleccion">
            <a class="btn btn-primary" href="~/Material/Alta" role="button">Sumar Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/Material/Baja" role="button">Restar Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/ClaseMaterial/Alta" role="button">Agregar Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/ClaseMaterial/Buscar" role="button">Eliminar o editar Material</a>
            <br>
            <br>
        </div>
    </div>
</div>