@{
    ViewBag.Title = "Error 406";
}
<br />
<br />
<br />
<h1 class="text-danger">Error 406</h1>
<h4 class="text-info">Error al procesar la solicitud.</h4>
<p>Nuevo</p>
<script type="text/javascript">
    /**/
    @ViewBag.Error
    console.log(@ViewBag.Error);
/**/
</script>

