
@{
    ViewBag.Title = "Ayuda";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <h1>Ayuda</h1>
        <hr />
        <div class="list-group">
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Gestión de Materiales</h4>
                <p class="list-group-item-text">...</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Gestión de Personal</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
    </div>
</div>
