@*<div class="card shadow">
    <div class="card-body">
        <h1>Ayuda</h1>
        <p>Muestra dasd</p>
    </div>
</div>
<br />*@
<div class="row">
    <div class="col-2">
        <div class="shadow">
            <div class="list-group list-group-root" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="c-blue-500 far fa-home fa-fw"></i> Principal</a>
                <a class="list-group-item list-group-item-action" id="list-usuarios-list" data-toggle="list" href="#list-usuarios" role="tab" aria-controls="usuarios"><i class="c-black-500 far fa-user fa-fw"></i> Usuarios</a>
                <a class="list-group-item list-group-item-action" id="list-personal-list" data-toggle="list" href="#list-personal" role="tab" aria-controls="personal"><i class="c-pink-500 far fa-male fa-fw"></i> Personal</a>
                <a class="list-group-item list-group-item-action" id="list-proveedor-list" data-toggle="list" href="#list-proveedor" role="tab" aria-controls="proveedor"><i class="c-deep-purple-500 far fa-truck "></i> Proveedores</a>
                <a class="list-group-item list-group-item-action" id="list-material-list" data-toggle="list" href="#list-material" role="tab" aria-controls="material"><i class="c-brown-500 far fa-wrench fa-fw"></i> Materiales</a>
                <a class="list-group-item list-group-item-action" id="list-compras-list" data-toggle="list" href="#list-compras" role="tab" aria-controls="compras"><i class="c-teal-500 far fa-shopping-cart fa-fw"></i> Compras</a>
                <a class="list-group-item list-group-item-action" id="list-stock-list" data-toggle="list" href="#list-stock" role="tab" aria-controls="stock"><i class="c-deep-purple-500 far fa-sync-alt fa-fw"></i> Stock</a>
                <a class="list-group-item list-group-item-action" id="list-documentos-list" data-toggle="list" href="#list-documentos" role="tab" aria-controls="documentos"><i class="c-red-500 far fa-copy fa-fw"></i> Documentos</a>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="shadow p-20 mb-5 bg-white rounded">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Ayuda</h1>
                    <p>
                        Esta aplicación informática fue realizada con el objetivo de poder informatizar el trabajo que se realiza tanto en oficina técnica como en depósito. Es decir que se puede ver los materiales existentes en Depósito,llevar el control de ingreso y egreso de los materiales esto permite visualizar en tiempo real el stock, cuando está en bajo poder realizar una orden de compra. Y la parte más importante es la trazabilidad de las operaciones realizadas.
                        <br /> La aplicación permite cargar, visualizar y editar materiales, ver el stock en tiempo real, realizar orden de compra, orden trabajo de Aplicación. Ver, editar e ingresar proveedores y personal deposito, oficina técnica y Mep. Ver la trazabilidad de los materiales hacia la orden de trabajo de Aplicación y también se puede visualizar aquellos materiales que se encuentra bajo el punto de reposición de stock.
                        <br />
                        <br />La aplicación cuenta con los siguientes módulos:
                        <br />
                        <ul>
                            <li><b>Personal:</b> Visualiza trabajadores de oficina Técnica, deposito y MEP.</li>
                            <li><b>Proveedores:</b>Visualiza aquellas empresas o negocios a los cuales se compran materiales e insumos.</li>
                            <li><b>Materiales:</b> Visualiza todos los insumos y materiales que se utilizan en la institución.</li>
                            <li><b>Compras:</b> Visualiza todos los materiales con bajo stock.</li>
                            <li><b>Stock:</b> Permite realizar el ingreso y egreso de materiales al depósito.</li>
                            <li><b>Documentos:</b> Visualiza la Orden de Compra y la Orden de Trabajo de Aplicación.</li>
                        </ul>
                    </p>
                </div>
                <div class="tab-pane fade" id="list-usuarios" role="tabpanel" aria-labelledby="list-usuarios-list">
                    <h1>Usuarios</h1>
                </div>
                <div class="tab-pane fade" id="list-personal" role="tabpanel" aria-labelledby="list-personal-list">
                    <h1>Personal</h1>
                    <p>Se pueden visualizar y cargar trabajadores de Ofcina Técnica, deposito y MEP.</p>
                    <hr />
                    <h3>Cargar Nuevo Personal</h3>
                    <p> En esta pantalla se puede Agregar un nuevo Personal, al pulsar el Boton "Nuevo Personal" te pide completar los siguientes campos: Nombre y Apellido, Ficha Censal y Dni. En cuanto se pulsa Aceptar el personal es dado de alta.</p>
                    <img class="imggif" src="~/Assets/Gifs/NuevoPersonal.gif" />
                    <hr />
                    <h3>Buscar Personal</h3>
                    <p> En esta pantalla se puede buscar cualquier personal filtrando cualquier dato que se tenga</p>
                    <img class="imggif" src="~/Assets/Gifs/BuscarPersonal.gif" />
                    <hr />
                    <h3>Editar Personal</h3>
                    <p> Para modificar cualquier dato de un personal pulsando en el icono con forma de lapiz, le manda a la pantalla con todos los campos a completar o cambiar</p>
                    <img class="imggif" src="~/Assets/Gifs/EditarPersonal.gif" />
                    <hr />
                    <h3>Eliminar Personal</h3>
                    <p> Se puede eliminar cualquier Personal de la lista haciendo click en el icono con forma de tacho de basura</p>
                    <img class="imggif" src="~/Assets/Gifs/BorrarPersonal.gif" />
                </div>
                <div class="tab-pane fade" id="list-proveedor" role="tabpanel" aria-labelledby="list-proveedor-list">
                    <h2> Proveedor</h2>
                    <p>
                    <p> Se puede visualizar, buscar, editar y Agregar proveedores que esten asociados con el establecimiento.</p>
                    <h4> Cargar Nuevo Proveedor</h4>
                    <p> En esta pantalla se puede Agregar un nuevo Proveedor, al pulsar el Boton "Nuevo Proveedor" te pide completar los siguientes campos: Nombre, Cuit, Razon Social, telefono, correo electronico, dirección, zona, Horario de Atención y Contacto. En cuanto se pulsa Aceptar el personal es dado de alta. </p>
                    <img class="imggif" src="~/Assets/Gifs/NuevoProveedor.gif" />
                    <h4> Buscar Proveedor</h4>
                    <p> En esta pantalla se puede buscar cualquier proveedor filtrando cualquier dato que se tenga. </p>
                    <img class="imggif" src="~/Assets/Gifs/BuscarProveedor.gif" />
                    <h4> Eliminar Proveedor</h4>
                    <p> Se puede eliminar cualquier Proveedor de la lista haciendo click en el icono con forma de tacho de basura.</p>
                    <img class="imggif" src="~/Assets/Gifs/BorrarProveedor.gif" />
                    <h4> Editar Proveedor</h4>
                    <p> Para modificar cualquier dato de un proveedor pulsando en el icono con forma de lapiz, le manda a la pantalla con todos los campos a completar o cambiar. </p>
                    <img class="imggif" src="~/Assets/Gifs/EditarProveedor.gif" />
                    </p>
                </div>
                <div class="tab-pane fade" id="list-material" role="tabpanel" aria-labelledby="list-material-list">
                    <h2> Material</h2>
                    <p>
                        Se puede visualizar, buscar, editar y Agregar materiales que esten asociados con el establecimiento.
                        <h4> Cargar Nuevo Material</h4>
                    <p> En esta pantalla se puede Agregar un nuevo Material, al pulsar el Boton "Nuevo Material" te pide completar los siguientes campos: Codigo, Nombre, Unidad, Stock Minimo, Stock Actual, Tipo, Proveedor y Detalle. En cuanto se pulsa Aceptar el personal es dado de alta. </p>
                    <img class="imggif" src="~/Assets/Gifs/NuevoMaterial.gif" />
                    <h4> Buscar Material</h4>
                    <p> En esta pantalla se puede buscar cualquier material filtrando cualquier dato que se tenga.</p>
                    <img class="imggif" src="~/Assets/Gifs/BuscarMaterial.gif" />
                    <h4> Eliminar Material</h4>
                    <p> Se puede eliminar cualquier material de la lista haciendo click en el icono con forma de tacho de basura. </p>
                    <img class="imggif" src="~/Assets/Gifs/BorrarMaterial.gif" />
                    <h4> Editar Material</h4>
                    <p>  Para modificar cualquier dato de un material pulsando en el icono con forma de lapiz, le manda a la pantalla con todos los campos a completar o cambiar.</p>
                    <img class="imggif" src="~/Assets/Gifs/EditarMaterial.gif" />
                    </p>

                </div>
                <div class="tab-pane fade" id="list-compras" role="tabpanel" aria-labelledby="list-compras-list">
                    <h2> Compras</h2>
                    <p>
                        En esta pantalla se pueden visualizar todos los materiales en bajo Stock.
                        <h4> Buscar </h4>
                    <p> En esta pantalla se puede buscar cualquier material en bajo stock filtarndo cualquier dato que se tenga.</p>
                    <img class="imggif" src="~/Assets/Gifs/NecesidadesCompras.gif" />
                    </p>


                </div>
                <div class="tab-pane fade" id="list-stock" role="tabpanel" aria-labelledby="list-stock-list">
                    <h2> Stock</h2>
                    <p>
                        En esta pantalla se puede ingresar y sacar material, tambien ver el historial de entradas y salidas de materiales.
                        <h4> Entrada Material</h4>
                    <p> En esta pantalla se puede ingresar materiales o herramientas, pide completar los campos con el nombre, Cantidad a ingresar, Tipo de Entrada y Código Documento.</p>
                    <img class="imggif" src="~/Assets/Gifs/EntradaMaterial.gif" />
                    <h4> Salida material</h4>
                    <p> En esta pantalla se puede egresar los materiales o herramientas completando los campos nombre, Cantidad a Egresar, Tipo de Egreso y Código Documento.</p>
                    <img class="imggif" src="~/Assets/Gifs/SalidaMaterial.gif" />
                    <h4> Historial Entradas </h4>
                    <p> En esta pantalla se pueden visualizar todos los materiales ingresados, quién los ingreso y cuándo. </p>
                    <img class="imggif" src="~/Assets/Gifs/HsitorialEntradas.gif" />
                    <h4> Historial Salidas</h4>
                    <p> En esta pantalla se pueden visualizar todos los materiales egresados, quién lo hizo y cuándo.</p>
                    <img class="imggif" src="~/Assets/Gifs/HsitorialSalidas.gif" />
                    </p>
                </div>
                <div class="tab-pane fade" id="list-documentos" role="tabpanel" aria-labelledby="list-documentos-list">
                    <h2> Documentos </h2>
                    <p>
                        En esta pantalla se puede realizar la Orden de Compra y la Orden de Trabajo de Aplicación, editar, buscar y ver los Detalles.
                        <h4> Orden de Compra</h4>
                    <p>En esta pantalla se puede realizar la orden de Compra completando los siguientes campos: Número Interno, Número Factura, fecha. proveedor, responsable, Numero cheque y el monto total es la suma de todos los materiales que selecciono.</p>
                    <img class="imggif" src="~/Assets/Gifs/NuevaOC.gif" />
                    <h4> Editar Orden de Compra</h4>
                    <p> En esta pantallas se puede editar cualquier campo de un OC ya existente pulsando en el icono con forma de lapiz.</p>
                    <img class="imggif" src="~/Assets/Gifs/EditarOC.gif" />
                    <h4> Buscar Orden de Compra</h4>
                    <p> En esta pantalla se puede Buscar cualquier orden de compra filtrando con un dato que se tenga de el.</p>
                    <img class="imggif" src="~/Assets/Gifs/BuscarOC.gif" />
                    <h4> Detalles Orden de Compra</h4>
                    <p> En esta pantalla se pueden visualizar todos los detalles de una Orden de Compra.</p>
                    <img class="imggif" src="~/Assets/Gifs/DetallesOC.gif" />
                    </p>
                    <br />
                    <h4> Orden de Trabajo de Aplicación</h4>
                    <p>
                        En esta pantalla se puede realizar la orden de trabajo de Aplicación completando los siguientes campos: Número, Nombre, Turno, fecha, responsable y jefe de Sección, luego se seleccionan los materiales a utilizar y se genera la OTA.
                        <img class="imggif" src="~/Assets/Gifs/NuevaOTA.gif" />
                        <h4> Editar Orden de Trabajo de Aplicación</h4>
                    <p> En esta pantallas se puede editar cualquier campo de un OTA ya existente pulsando en el icono con forma de lapiz.</p>
                    <img class="imggif" src="~/Assets/Gifs/EditarOTA.gif" />
                    <h4> Buscar Orden de trabajo de Aplicación</h4>
                    <p>  En esta pantalla se puede Buscar cualquier orden de trabajo de Aplicación filtrando con un dato que se tenga de el.</p>
                    <img class="imggif" src="~/Assets/Gifs/BuscarOTA.gif" />
                    <h4> Detalles Orden de trabajo de Aplicación</h4>
                    <p> En esta pantalla se pueden visualizar todos los detalles de una Orden de trabajo de Aplicación.</p>
                    <img class="imggif" src="~/Assets/Gifs/DetallesOTA.gif" />
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

