@model gestionmateriales.Models.OficinaTecnica.Documentos.OrdenCompra

<input type="hidden" id="IdOTA" value="@Model.idOrdenCompra" />
<h1>Orden de Compra</h1>
<div class="row">
    <div class="offset-10 col-md-2">
        <button class="btn btn-outline-secondary btn-block btn-sm" onclick="window.history.back();"><i class="far fa-arrow-left"></i> Volver</button>
    </div>
</div>
