<div class=" card shadow">
    <div class="card-body">
<h1>Orden de Compra</h1>
<div class="row">
    <div class="col-md-6">
        <p>Ordenes de compra de materiales e insumos</p>
    </div>
    <div class="offset-3 col 3">
        <a id="btn_nuevarordencompra" class="btn btn-block btn-outline-primary" href="~/OrdenCompra/Agregar" role="button" title="Genera una nueva orden de compra"><i class="fas fa-file-alt"></i> Nueva Orden de Compra</a>
    </div>
</div>
        </div>
    </div>
<br />
<div class="card shadow">
    <div class="card-body">
        <table id="grdOC" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nro Interno</th>
                    <th>Nro Factura</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Responsable</th>
                    <th>#Items</th>
                    <th>Opciones</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-footer">
        <div id="lastUpdated"></div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/OrdenCompra/OrdenCompra.js"></script>