<div class="container-fluid">
    <h1 class="display-4">Proveedores</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Empresa o negocio donde se compran materiales o herramientas</p>
        </div>
        <div class="offset-md-4 col-md-2">
            <a id="btnCrearProveedor" class="btn btn-outline-primary btn-block" href="~/Proveedor/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Agrega nuevo proveedor para comprar materiales o herramientas"><i class="fas fa-truck"></i> Nuevo Proveedor</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <table id="grdProveedores" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        CUIT
                    </th>
                    <th>
                        Razón Social
                    </th>
                    <th>
                        Zona
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Acciones
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript" src="~/Scripts/Views/Proveedor.js"></script>
</div>