<br />
<br />
<div class="container-fluid">
    <h2>Gestión de Proveedores</h2>
    <h6>Empresa o negocio donde se compran materiales o herramientas.</h6>
</div>
<hr />
<div class="col-md-2">
    <a id="btnCrearProveedor" class="btn btn-outline-primary btn-block" href="~/Proveedor/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Agrega nuevo proveedor para comprar materiales o herramientas"><i class="fas fa-truck"></i> Nuevo Proveedor</a>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table id="grdProveedores" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        CUIT
                    </th>
                    <th>
                        Razón Social
                    </th>
                    <th>
                        Zona
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Acciones
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript" src="~/Scripts/Views/Proveedor.js"></script>
    </div>
</div>