<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titán - ET12</title>

    <!--JQuery-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></!--script-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap 4-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <script type="text/javascript" src="~/Scripts/umd/popper.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!--Scrips Varios-->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!--Datatables-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Datatables/datatables.css" />
    <script type="text/javascript" src="~/Scripts/Datatables/datatables.min.js"></script>

    <!--Notitify-->
    <script type="text/javascript" src="~/Scripts/notify.min.js"></script>
    @*<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>*@

    <!--Iconos-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top">
        <a class="navbar-brand" href="~/Home/Index"><i class="fas fa-home"></i></a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fas fa-file-alt"></i> Documentos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/OrdenTrabajo/Index">Orden de Trabajo de Aplicacion</a>
                    @*<a class="dropdown-item" href="~/Construccion/Index">Orden de Pedido</a>
                        <a class="dropdown-item" href="~/Construccion/Index">Trabajo Práctico</a>
                        <a class="dropdown-item" href="~/Construccion/Index">Donación</a>
                        <a class="dropdown-item" href="~/Construccion/Index">Sobrante</a>*@
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fas fa-sync"></i> Stock</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Stock/Sumar">Ingreso</a>
                    @*<a class="dropdown-item" href="~/Stock/Restar">Egreso</a>*@
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fas fa-shopping-cart"></i> Compras <span id="comprasPendientes" class="notif badge badge-info"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Compras/Index">Materiales a Comprar</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Material/Index"><i class="fas fa-wrench"></i> Materiales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Proveedor/Index"><i class="fas fa-truck"></i> Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Personal/Index"><i class="fas fa-male"></i> Personal</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    <div class="container-fluid">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Oficina Técnica - Titán @ViewContext.Controller.GetType().Assembly.GetName().Version</p>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            var baseURL = window.location.protocol + "//" + window.location.host + "/"
            var request = $.ajax({
                url: baseURL + "Compras/GetCantidadCompras",
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            });

            request.done(function (data) {
                //console.log(data.Response);
                if (data.Response != '0') 
                    $('#comprasPendientes').text(data.Response);
            });

            request.fail(function (data) {
                alert(data.Response);
            });
        });
    </script>
</body>
</html>
