<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titán - ET12</title>
    <link rel="shortcut icon" type="image/x-icon" href="/ottest/favicon.ico" />
    <!--JQuery-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></!--script-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap 4-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <script type="text/javascript" src="~/Scripts/umd/popper.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!--Scrips Varios-->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!--Datatables-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Datatables/datatables.css" />
    <script type="text/javascript" src="~/Scripts/Datatables/datatables.min.js"></script>

    <!--Bootstrap Notify-->
    <link rel="stylesheet" href="~/Scripts/animate.css">
    <script type="text/javascript" src="~/Scripts/bootstrap-notify.min.js"></script>

    <!--Iconos-->
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!--Hoja de estilo global-->
    <link rel="stylesheet" href="~/Content/global.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top">
        <a class="navbar-brand" href="~/Home/Index"><i class="fas fa-home"></i></a>
        <ul class="navbar-nav">
            
            @{ Html.RenderAction("Menu", "Home"); }
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    <div class="container-fluid">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Titán @ViewContext.Controller.GetType().Assembly.GetName().Version</p>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            var appName = location.pathname.split('/')[1];
            var baseURL = window.location.protocol + "//" + window.location.host + "/";

            if (appName == 'ottest')
                baseURL = baseURL + appName + "/";

            var request = $.ajax({
                url: baseURL + "Compras/GetCantidadCompras",
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            });

            request.done(function (data) {
                //console.log(data.Response);
                if (data.Response != '0') 
                    $('#comprasPendientes').text(data.Response);
            });

            request.fail(function (data) {
                alert(data.Response);
            });
        });
    </script>
</body>
</html>
