@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="~/Ayuda/Index"><i class="fas fa-question-circle"></i> Ayuda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Manage/Index"><i class="fas fa-user"></i> @User.Identity.GetUserName()</a>
    </li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </li>
    }
</ul>
