@using Microsoft.AspNet.Identity

<li class="nav-item">
    <a class="nav-link" href="~/Ayuda" data-toggle="tooltip" data-placement="bottom" data-original-title="Ayuda"><i class="far fa-question" ></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/About" data-toggle="tooltip" data-placement="bottom" data-original-title="Nosotros"><i class="far fa-users" ></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/Manage" data-toggle="tooltip" data-placement="bottom" data-original-title="Configuración"><i class="far fa-user"></i> @User.Identity.GetUserName()</a>
</li>
<li class="nav-item">
    <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="bottom" data-original-title="Cerrar Sesión"><i class="far fa-sign-out-alt"></i></a>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

    }
</li>




