<div id="page-wrapper">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Inicio</h1>
            <p class="lead">Bienvenido a la web ...</p>
        </div>
    </div>
</div>