
@{
    ViewBag.Title = "Home";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <h1>Oficina Técnica</h1>
        <hr />
        <div class="jumbotron">
            <h1>Inicio</h1>
            <p>Bienvenido a la web de la oficina técnica</p>
        </div>
    </div>
</div>