<link href="~/Content/carousel.css" rel="stylesheet" />

<div id="page-wrapper">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Bienvenidos a Pandora</h1>
            <p class="lead">
                Pandora es un sistema informático para gestión de stock de materiales y confección de documentos digitales
            </p>
        </div>
    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Assets/circleStock.ico" alt="Generic placeholder image" width="140" height="140">
                <h2>Stock</h2>
                <p>Control de stock, ingreso y egreso identificado por documento interno</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Assets/circleMateriales.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Materiales</h2>
                <p>Actuzalización en tiempo real de información por material y trazabilidad de operaciones</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Assets/circleDocumentos.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Documentos</h2>
                <p>Confección de Orden de Compra, Orden de Trabajo de Aplicación con copia digital</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>