<div id="page-wrapper">
    <br />
    <br />
    <div class="container-fluid">
        <div class="col-md-5">
            <h1>Oficina Técnica</h1>
        </div>
        <hr />
        <div class="jumbotron">
            <h1>Inicio</h1>
            <p>Bienvenido a la web de la oficina técnica</p>
        </div>
    </div>
</div>