<div class="container-fluid">
    <h1 class="display-4">Orden de Trabajo</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Ordenes de trabajo</p>
        </div>
        <div class="offset-4 col-md-2">
            <a id="btn_nuevarordentrabajo" class="btn btn-block btn-outline-primary" href="~/OrdenTrabajo/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Genera una nueva orden de trabajo"><i class="fas fa-file-alt"></i> Nueva Orden</a>
        </div>
    </div>
    <hr />
</div>