
@{
    ViewBag.Title = "OrdenTrabajo";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <div class="starter-template">
            <h1>Gestión de Ordenes de Trabajo</h1>
            <hr />
            <p class="lead">Seleccione la operación a realizar</p>
        </div>
    </div>
    <div class="container">
        <div id="seleccion">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" href="~/OrdenTrabajo/Alta" role="button">Nueva Orden de Trabajo</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" href="~/OrdenTrabajo/Buscar" role="button">Buscar</a>
            </div>
        </div>
    </div>
</div>
