<div class="container-fluid">
    <h1 class="display-4">Orden de Trabajo de Aplicación</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Ordenes de trabajo de aplicación</p>
        </div>
        <div class="offset-4 col-md-2">
            <a id="btn_nuevarordentrabajo" class="btn btn-block btn-outline-primary" href="~/OrdenTrabajoAplicacion/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Genera una nueva orden de trabajo de aplicación"><i class="fas fa-file-alt"></i> Nueva Orden</a>
        </div>
    </div>
    <hr />
    <table id="grdOTA" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    Número
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Turno
                </th>
                <th>
                    Trabajo Práctico
                </th>
                <th>
                    Responsable
                </th>
                <th>
                    Jefe de Sección
                </th>
                <th>
                    #Items
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
    </table>
    <script type="text/javascript" src="~/Scripts/Views/OrdenTrabajoAplicacion.js"></script>
</div>
