<div class="card shadow">
    <div class="card-body">
<h1>Orden de Trabajo de Aplicación</h1>
<div class="row">
    <div class="col-8">
        <p>Ordenes de trabajo de materiales y herramientas para trabajos prácticos</p>
    </div>
    <div class="col-4">
        <a id="btn_nuevarordentrabajo" class="btn btn-block btn-outline-primary" href="~/OrdenTrabajoAplicacion/Agregar"><i class="far fa-file-alt"></i> Nueva Orden de Trabajo de Aplicación</a>
    </div>
</div>
        </div>
    </div>
<br />
<div class="card shadow">
    <div class="card-body">
        <table id="grdOTA" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Número
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Turno
                    </th>
                    <th>
                        Trabajo Práctico
                    </th>
                    <th>
                        Responsable
                    </th>
                    <th>
                        Jefe de Sección
                    </th>
                    <th>
                        #Items
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-footer">
        <div id="lastUpdated"></div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/OrdenTrabajoAplicacion/OrdenTrabajoAplicacion.js"></script>
