<h1>Orden de Trabajo de Aplicación</h1>
<div class="row">
    <div class="col-md-10">
        <p>Número: <strong>@ViewData["numero"]</strong> - Nombre: <strong>@ViewData["nombre"]</strong></p>
    </div>
    <div class="col-md-2">
        <a id="btn_generarordentrabajo" class="btn btn-outline-primary btn-block btn-sm" href="~/OrdenTrabajoAplicacion"><i class="far fa-check"></i> Generar</a>
    </div>
</div>

<input type="hidden" id="IdOT" value="@ViewData["IdOT"]" />
<div class="card">
    <div class="card-body">
        <table id="grdMateriales" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                        Código
                    </th>
                    <th>
                        Material
                    </th>
                    <th>
                        Stock Actual
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
        </table>        
    </div>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/OrdenTrabajoAplicacion/Materiales.js"></script>