@model gestionmateriales.Models.IndexViewModel

<div class="container-fluid">
    <h1>Configuración</h1>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <p>Cambiar la configuración del usuario</p>
        <hr />
        <strong>Contraseña: </strong>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
    </div>
</div>