<div class="row">
    <div class="col-6">
        <h1>Historial Entradas</h1>
    </div>
    <div class="offset-4 col-2">
        <a class="btn btn-outline-secondary btn-block btn-sm" role="button" href="~/Home" title="Regresa a pantalla anterior">Volver</a>
    </div>
</div>
<p>Registro de las últimas entradas de materiales o herramientas a depósito</p>

<div class="card">
    <div class="card-body">
        <table id="grdIngresos" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Nro Entrada.
                    </th>
                    <th>
                        Cod. Material
                    </th>
                    <th>
                        Material
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Tipo de Entrada
                    </th>
                    <th>
                        Nro. Documento
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Fecha
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/Stock/HistorialIngresos.js"></script>
