<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h1>Historial Salidas</h1>
            </div>
            <div class="offset-4 col-2">
                <a class="btn btn-outline-secondary btn-block btn-sm" role="button" href="~/Home" title="Regresa a pantalla anterior">Volver</a>
            </div>
        </div>
        <p>Registro de las últimas salidas de materiales o herramientas de depósito</p>

    </div>
</div>
<br />
<div class="card shadow">
    <div id="divgrdEgresos" class="card-body">        
    </div>
</div>

<script type="text/javascript" src="~/Scripts/MasterDataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Views/Stock/HistorialEgresos.js"></script>


