<br />
<br />
<div class="container-fluid">
    <h2>Historial Egresos</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table id="grdEgresos" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Nro. Operación
                    </th>
                    <th>
                        Código Material
                    </th>
                    <th>
                        Material
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Tipo de Salida
                    </th>
                    <th>
                        Cod. Documento
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Fecha - Hora
                    </th>
                </tr>
            </thead>
        </table>
        <script>
            var appName = location.pathname.split('/')[1];
            var baseURL = window.location.protocol + "//" + window.location.host + "/";

            if (appName == 'ottest')
                baseURL = baseURL + appName + "/";

            var requestMaterial = $.ajax({
                url: baseURL + "Stock/GetHistorialEgresos",
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            });

            requestMaterial.done(function (data) {
                //console.log(data.Response);
                tablaMateriales = $('#grdEgresos').DataTable({
                    //"dom": "lfrtip",
                    "aaData": data.Response,
                    "aoColumns": [
                        {
                            "data": "numero"
                        },
                        {
                            "data": "codMaterial"
                        },
                        {
                            "data": "material"
                        },
                        {
                            "data": "cantidad"
                        },
                        {
                            "data": "tipoSalida"
                        },
                        {
                            "data": "codDocumento"
                        },
                        {
                            "data": "usuario"
                        },
                        {
                            "mRender": function (data, type, row) {
                                var value = new Date(parseInt(row.timestamp.replace(/(^.*\()|([+-].*$)/g, '')));
                                return value.toLocaleString();
                            }
                        }
                    ],
                    "order": [7, "desc"],
                    "language": {
                        "decimal": "",
                        "emptyTable": "No hay información disponible para mostrar",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                        "infoEmpty": "No hay Egresos para mostrar",
                        "infoFiltered": "(filtrados de _MAX_ Egresos totales)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Ver _MENU_ Egresos por página",
                        "loadingRecords": "Cargando...",
                        "processing": "En proceso...",
                        "search": "Buscar",
                        "zeroRecords": "No hay Egresos que coincidan con el filtro",
                        "paginate": {
                            "first": "Primera",
                            "last": "Última",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });
            });

            requestMaterial.fail(function (data) {
                alert(data.Response);
            });
        </script>
    </div>
</div>
