@{
    ViewBag.Title = "Stock";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Gestión de Stock</h2>
        </div>
    </div>
    <h5>Seleccione la operación a realizar.</h5>
    <hr />
    <br />
    <div class="container">
        <div class="col-md-3">
            <a class="btn btn-primary btn-block" href="~/Stock/Sumar" role="button">Sumar Material</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-block" href="~/Stock/Restar" role="button">Restar Material</a>
        </div>
    </div>
</div>
