@{
    ViewBag.Title = "Stock";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <div class="starter-template">
            <h1>Stock</h1>
            <hr />
            <p class="lead">Seleccione la operación a realizar</p>
        </div>
    </div>
    <div class="container">
        <div id="seleccion">
            <a class="btn btn-primary" href="~/Stock/Sumar" role="button">Sumar Material</a>
            <br>
            <br>
            <a class="btn btn-primary" href="~/Stock/Restar" role="button">Restar Material</a>
            <br>
            <br>
        </div>
    </div>
</div>