@model gestionmateriales.Models.Usuarios.Usuario
@{
    ViewBag.Title = "Index";
}

<div class="col-sm-offset-4 col-md-4">
    <br><br><br>
    <div class="panel panel-default">
        <div class="panel-heading">Oficina Técnica</div>
        <div class="panel-body">
            @using (@Html.BeginForm("SingIn", "Login", FormMethod.Post))
            { 
                <div class="form-group">
                    <label for="Nombre" class="sr-only">Usuario</label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario",  maxlength = 45, required = "true" } })
                </div>
                <div class="form-group">
                    <label for="Contrasenia" class="sr-only">Contraseña</label>
                    @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña", maxlength = 45, required = "true" } })
                </div>
                <div class="form-group">
                    @Html.DropDownList("Rol_Id", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <input type="submit" class="btn ntm-lng btn-primary btn-block" value="Iniciar Sesión" />
            }
        </div>
    </div>
</div>