
@{
    ViewBag.Title = "Nosotros";
}

<link rel="stylesheet" type="text/css" href="~/Scripts/Semantic/semantic.min.css">
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/Semantic/semantic.min.js"></script>
<br />
<div class="ui huge header">Quienes somos?</div>
<div class="ui divider"></div>
<h3>2017</h3>
<div class="ui very relaxed items">
    <div class="item">
        <div class="ui small circular image">
            <img src="~/Assets/gsuarez.jpg">
        </div>
        <div class="content">
            <h3 class="ui header">Gonzalo Suarez</h3>
            <div class="meta">
                <span>6° 7°</span>
            </div>
            <div class="description">
                <p>"El maestro lo sabe todo menos la combinación de la caja fuerte".</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small circular image">
            <img src="~/Assets/gcolombre.jpg">
        </div>
        <div class="content">
            <h3 class="ui header">Gustavo Colombre</h3>
            <div class="meta">
                <span>6° 7°</span>
            </div>
            <div class="description">
                <p>"Increible pero me lo comí todo".<br /><br />ACTIVIDADES: NINGUNA <br />DEPORTES: NINGUNO<br />DISTINCIONES: NINGUNA</p>
            </div>
        </div>
    </div>
</div>
<div class="ui divider"></div>
<h3>2016</h3>
<div class="ui very relaxed items">
    <div class="item">
        <div class="ui small circular image">
            <img src="~/Assets/asilva.jpg">
        </div>
        <div class="content">
            <h3 class="ui header">Agustin Silva</h3>
            <div class="meta">
                <span>6° 7°</span>
            </div>
            <div class="description">
                <p>"La suma de las raíces cuadradas de un triángulo isósceles es igual a la raíz cuadrada del lado restante".</p>
            </div>
        </div>
    </div>
</div>