<div class="card shadow">
    <div class="card-body">
        <div class="container-fluid">
            <h1>Nosotros</h1>
            <p class="card-text">Este sistema informático es la representación de esfuerzo y trabajo realizado por alumnos de la especialidad computación</p>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">Cynthia Carolina Espinola</p>
                    <footer class="blockquote-footer"><cite title="Source Title">6to 7ma 2018</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">Gonzalo Suarez</p>
                    <footer class="blockquote-footer"><cite title="Source Title">6to 7ma 2017</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">Agustin Silva</p>
                    <footer class="blockquote-footer"><cite title="Source Title">6to 7ma 2016</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">Jean Pierre Paredes Gutierrez</p>
                    <footer class="blockquote-footer"><cite title="Source Title">6to 7ma 2018</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Gustavo Colombre</p>
                        <footer class="blockquote-footer"><cite title="Source Title">6to 7ma 2017</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
</div>