
@{
    ViewBag.Title = "Nosotros";
}

<br/>
<br />
<div class="container">
    <h2>¿Quienes Somos?</h2>
    <br />
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/Assets/gsuarez.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gonzalo Suarez</h5>
                <p class="card-text">"El maestro lo sabe todo menos la combinación de la caja fuerte"</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">2017</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Assets/gcolombre.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gustavo Colombre</h5>
                <p class="card-text">"Increible pero me lo comí todo"</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">2017</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Assets/asilva.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Agustin Silva</h5>
                <p class="card-text">"La suma de las raíces cuadradas de un triángulo isósceles es igual a la raíz cuadrada del lado restante"</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">2016</small>
            </div>
        </div>
    </div>
</div>