<div class="card shadow">
    <div class="card-body">
        <div class="container-fluid">
            <h1>Nosotros</h1>
                    <p class="card-text">Este software es la representación de esfuerzo y trabajo realizado por alumnos de la especialidad computación del turno tarde</p>
        </div>
    </div>
</div>
    <br />
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Cynthia Espinola 2018</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Jean Pierre Paredes 2018</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Gonzalo Suarez 2017</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Gustavo Colombre 2017</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Agustin Silva 2016</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>